body {
    background-color: #FFFEF7;
}


h1,
h2,
h3 {
    font-family: 'Advent Pro', sans-serif;
    color: #502A34;
    font-weight: 600;
}

h1 {
    font-size: 24px;
}

h2 {
    color: #575D4E;
    font-size: 26px;
    margin-bottom: 2px;
}

.smallH2 {
    font-size: 21px;
}

h3 {
    font-size: 14px;
    font-weight: 500;
}

p {
    font-family: 'Jost', sans-serif;
    color: #575D4E;
    font-weight: 400;
    font-size: 16px;
}

/* to align hyphens */
.alignHyphens {
    position: relative;
    top: +2px;
}

a {
    color: #846970;
    text-decoration: none !important;
}

a:hover {
    color: #BCB8B1;
    text-decoration: none !important;
    transition: 150ms;
}


nav {
    background-color: #FFFEF7;
    font-family: 'Advent Pro', sans-serif;
    font-weight: 600;
    font-size: 22px;
    padding: 0 !important;
}


#mainNavBarContent {
    flex: 1;
    margin: auto !important;
    display: flex;
    justify-content: end;
}

.navbar-brand {
    font-weight: 300;
    font-size: 24px;
    color: #502A34;
}

.nav-item {
    margin-left: 10px;
    margin-right: 10px;
    padding: 2;
}

.nav-link {
    color: #502A34;
    padding-top: 2px;
    padding-bottom: 2px;
}

.nav-link:hover {
    color: #846970;
    transition: 150ms;
}

#mainNavBarContent .active {
    color: #bcb8b1;
}

/* for aboutpage to be .full-page */
.full-page {
    width: 100vw;
    height: calc(100vh - 50px);
}


/* navbar toggler icon */
#iconT {
    font-family: 'Advent Pro', sans-serif;
    font-weight: 300;
    font-size: 26px;
    justify-content: center;
    color: #502A34;
}

/* dropdown menu */

.dropdown-menu {
    background-color: #FFFEF7;
    border: 0px;
    padding: 0%;
    animation: .15s slidedown;
}

@keyframes slidedown {
    from {
        transform: translateY(-5%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.dropdown-toggle,
.dropdown-item {
    background: #FFFEF7 !important;
    color: #502A34 !important;
    padding-top: 2px;
    padding-bottom: 2px;

}

.dropdown-toggle:hover,
.dropdown-item:hover {
    background: #FFFEF7 !important;
    color: #846970 !important;
}